.App .Menu {
  position: fixed;
  top: -4rem;
  height: 4rem;
  width: 100%;
  /* background-color: rgba(0, 0, 129, 0.3); */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.App .Menu.open {
  top: 0;
}

.App .Menu .Menu-languages {
  display: flex;
  height: 3rem;
  width: 6rem;
  margin-right: 2rem;
}

.App .Menu .Menu-languages img {
  margin: 3px;
}
