.App .Info {
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.App .Info-Card {
  width: calc(100% / 4 - 3rem);
  box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 20%);
  margin: 3rem 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.App .Info-Card .Info-Card-Header {
  padding: 1rem;
  background-color: #2ca8ff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
}

.App .Info-Card .Info-Card-Header h3 {
  margin-left: 1rem;
}

.App .Info-Card p {
  padding: 1rem;
}

@media screen and (max-width: 991px) {
  .App .Info {
    flex-direction: column;
    padding: 0.5rem;
  }

  .App .Info-Card {
    width: 100%;
    box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 20%);
    margin: 1rem 0rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }

  .App .Info-Card .Info-Card-Header {
    padding: 0.5rem 1rem;
  }
}
