.App .Welcome {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App .Welcome .Welcome-back {
  position: absolute;
  background-image: url("./welcome.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.App .Welcome .Welcome-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 249, 208);
  position: relative;
  text-align: center;
}

.App .Welcome .Welcome-content h1 {
  font-size: 4rem;
}

.App .Welcome .Welcome-content h3 {
  font-weight: 400;
  font-size: 3rem;
  margin: 0;
}

@media screen and (max-width: 991px) {
  .App .Welcome .Welcome-content h1 {
    font-size: 3rem;
  }

  .App .Welcome .Welcome-content h3 {
    font-size: 2rem;
  }
}
