.App .Contacts {
  background-image: url("./contacts.jpg");
  background-size: cover;
  height: 600px;
  width: 100%;
  background-attachment: fixed;
  display: flex;
}

.App .Contacts .Contacts-card {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(256, 256, 256, 0.7);
  padding: 3rem;
  border-radius: 1rem;
  text-align: center;
}

.App .Contacts .Contacts-card h2 {
  margin: 1rem;
}

.App .Contacts .Contacts-phone {
  font-size: 2rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid grey;
  border-radius: 1rem;
  box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 20%);
  margin: 2rem;
  transition: all 0.1s ease-in-out;
}

.App .Contacts .Contacts-phone:hover {
  transform: scale(1.1);
}

.App .Contacts .Contacts-phone a {
  text-decoration: none;
  color: black;
}

.App .Contacts .Contacts-phoneIcons img {
  height: 64px;
  margin: 0 1rem;
  transition: all 0.1s ease-in-out;
  border: 1px solid grey;
  border-radius: 1rem;
  box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 20%);
  padding: 1rem;
}

.App .Contacts .Contacts-phoneIcons img:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 991px) {
  .App .Contacts .Contacts-card {
    padding: 3rem 0.5rem;
  }

  .App .Contacts .Contacts-phoneIcons img {
    height: 55px;
    margin: 0 0.5rem;
  }

  .App .Contacts .Contacts-phone {
    padding: 0.5rem 1.5rem;
    margin: 2rem 0;
  }

  .App .Contacts .Contacts-phoneIcons img:hover {
    transform: none;
  }

  .App .Contacts .Contacts-phone:hover {
    transform: none;
  }
}

@media screen and (max-width: 320px) {
  .App .Contacts .Contacts-phoneIcons img {
    height: 50px;
    margin: 0 0.5rem;
  }
}
