.App .Contacts {
  /* border: 1px solid green; */
  background-image: url("./contacts.jpg");
  background-size: cover;
  height: 600px;
  width: 100%;
  background-attachment: fixed;
  display: flex;
}

.App .Contacts .Contacts-card {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(256, 256, 256, 0.7);
  padding: 3rem;
  border-radius: 1rem;
}
